autocommand==2.2.2
backports.tarfile==1.2.0
cheroot==11.1.2
CherryPy==18.10.0
greenlet==3.3.1
jaraco.collections==5.2.1
jaraco.context==6.1.0
jaraco.functools==4.4.0
jaraco.text==4.0.0
more-itertools==10.8.0
portend==3.2.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.46
tempora==5.8.1
typing_extensions==4.15.0
zc.lockfile==4.0
